/*feuille des variables */
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "designer";
  src: url("/assets/fonts/designer.otf") format("truetype");
}
/*feuille des variables */
@font-face {
  font-family: "designer";
  src: url("/assets/fonts/designer.otf") format("truetype");
}
.lecteur-body {
  background-color: gray;
  color: white;
  margin: 0;
}

.lecteur-topnav {
  background-color: #000000;
  padding: 4%;
}

#logo {
  width: 50px;
}

.lecteur-topnav .lecteur-menu {
  display: none;
  margin: auto;
}

.lecteur-topnav .lecteur-menu .lecteur-kind {
  text-align: center;
  width: 250px;
  margin: auto;
  padding: 2%;
}

.lecteur-topnav a {
  padding: 1%;
  text-decoration: none;
  font-size: 17px;
  display: block;
  color: #ececec;
}

.lecteur-topnav a.lecteur-icon {
  background: black;
  display: block;
  position: absolute;
  right: 1%;
  top: 1%;
}

.lecteur-topnav .lecteur-kind:hover {
  background-color: #ddd;
  color: black;
}

.lecteur-none {
  display: none;
}

.lecteur-menu-picture {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  margin: 5% 5% 2% 5%;
  border-radius: 100%;
}

.lecteur-menu-content {
  background-color: #000000;
  text-align: center;
  padding-bottom: 10%;
}

.lecteur-menu-content h3 {
  text-transform: uppercase;
}

.lecteur-menu-search {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.lecteur-menu-search svg {
  width: 50px;
}

.lecteur-menu-searchicon {
  border-bottom: solid gray;
  padding-right: 2%;
}

.lecteur-menu-searchinput {
  background-color: black;
  color: white;
  border: none;
  border-bottom: solid gray;
  outline: none;
}

.lecteur-menu-alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 350px;
  margin: auto;
}

.lecteur-closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: left;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.lecteur-closebtn:hover {
  color: black;
}

.lecteur-contenu h3 {
  margin: 0;
}

.lecteur-container {
  display: inline-block;
  cursor: pointer;
}

.lecteur-bar1, .lecteur-bar2, .lecteur-bar3 {
  width: 35px;
  height: 5px;
  background-color: #ececec;
  margin: 6px 0;
  transition: 0.4s;
}

.lecteur-change .lecteur-bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.lecteur-change .lecteur-bar2 {
  opacity: 0;
}

.lecteur-change .lecteur-bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (min-width: 420px) and (max-width: 767px) {
  .lecteur-topnav .lecteur-menu .lecteur-kind, .lecteur-alert {
    width: 350px;
  }
}
@media (min-width: 768px) {
  .lecteur-topnav {
    padding: 1%;
  }

  .lecteur-topnav .lecteur-menu .lecteur-kind, .lecteur-alert {
    width: 580px;
  }

  .lecteur-topnav a.lecteur-icon {
    right: 0;
    top: 0;
  }

  .lecteur-kind {
    padding: 1% !important;
  }
}
@media (min-width: 1200px) {
  .lecteur-topnav .lecteur-menu .lecteur-kind, .lecteur-alert {
    width: 1080px;
  }

  .lecteur-topnav a.lecteur-icon {
    right: 0;
    top: 0;
  }

  .lecteur-menu-searchicon {
    padding-right: 5%;
  }

  .lecteur-menu-searchinput {
    width: 30%;
  }
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
body .connection-img-logo {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
body .connection-form {
  font-family: "Roboto";
  margin: auto;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
  /* form style */
  /* LABEL */
  /* active state */
  /* BOTTOM BARS */
  /* active state */
  /* HIGHLIGHTER */
  /* active state */
  /* ANIMATIONS */
}
body .connection-form h2 {
  text-align: center;
  margin-bottom: 50px;
}
body .connection-form h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
body .connection-form .footer {
  text-align: center;
}
body .connection-form .footer a {
  color: #53B2C8;
}
body .connection-form .group {
  position: relative;
  margin-bottom: 80px;
}
body .connection-form input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
body .connection-form input:focus {
  outline: none;
}
body .connection-form label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
body .connection-form input:focus ~ label, body .connection-form input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
body .connection-form .bar {
  position: relative;
  display: block;
  width: 300px;
}
body .connection-form .bar:before, body .connection-form .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
body .connection-form .bar:before {
  left: 50%;
}
body .connection-form .bar:after {
  right: 50%;
}
body .connection-form input:focus ~ .bar:before, body .connection-form input:focus ~ .bar:after {
  width: 50%;
}
body .connection-form .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
body .connection-form input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
body .connection-btn {
  text-decoration: none;
  color: black;
  display: inline;
  border: solid 1px black;
  border-radius: 30px;
  padding: 7px 24px;
  background: linear-gradient(to right, #013f31, #3d5702);
  border: none;
}
body footer {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}
body footer a {
  text-decoration: none;
  color: #707070;
}/*# sourceMappingURL=connection-style.css.map */