@import '_variables.scss';
@import "Burger-style.scss"; 

body{

    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    .connection-img-logo{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
   
    .connection-form{ 
      font-family:'Roboto';
      margin: auto; 
      display:block; 
      background:#FFF;
      padding:10px 50px 50px;

      h2 		 { 
        text-align:center; 
        margin-bottom:50px; 
      }
  
      h2 small { 
        font-weight:normal; 
        color:#888; 
        display:block; 
      }
  
      .footer 	{ text-align:center; }
      .footer a  { color:#53B2C8; }
      
      /* form style */
      .group 			  { 
        position:relative; 
        margin-bottom: 80px; 
      }

      input 				{
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        width:300px;
        border:none;
        border-bottom:1px solid #757575;
      }

      input:focus 		{ outline:none; }
      
      /* LABEL */
      label 				 {
        color:#999; 
        font-size:18px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:5px;
        top:10px;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }
      
      /* active state */
      input:focus ~ label, input:valid ~ label 		{
        top:-20px;
        font-size:14px;
        color:#5264AE;
      }
      
      /* BOTTOM BARS */
      .bar 	{ position:relative; display:block; width:300px; }
      .bar:before, .bar:after 	{
        content:'';
        height:2px; 
        width:0;
        bottom:1px; 
        position:absolute;
        background:#5264AE; 
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }

      .bar:before {
        left:50%;
      }
      
      .bar:after {
        right:50%; 
      }
      
      /* active state */
      input:focus ~ .bar:before, input:focus ~ .bar:after {
        width:50%;
      }
      
      /* HIGHLIGHTER */
      .highlight {
        position:absolute;
        height:60%; 
        width:100px; 
        top:25%; 
        left:0;
        pointer-events:none;
        opacity:0.5;
      }
      
      /* active state */
      input:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
      }
      
      /* ANIMATIONS */
      @-webkit-keyframes inputHighlighter {
          from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
      }
      @-moz-keyframes inputHighlighter {
          from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
      }
      @keyframes inputHighlighter {
          from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
      }
    }

    .connection-btn{
        text-decoration: none;
        color: black;
        display: inline;
        border: solid 1px black;
        border-radius: 30px;
        padding: 7px 24px;
        background: linear-gradient(to right, rgb(1, 63, 49), rgb(61, 87, 2));
        border: none;
    }
    
    footer{
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;

        a{ 
            text-decoration: none;
            color: rgb(112, 112, 112);
        }
    } 
}