@charset "UTF-8";
/**feuille de style pour Homepage format ordinateur **/
/*feuille des variables */
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'designer';
  src: url("../fonts/designer.otf") format("truetype");
}

body {
  overflow-x: hidden;
}

/*feuille de style pour le menu burger*/
/*feuille des variables */
@font-face {
  font-family: 'designer';
  src: url("../fonts/designer.otf") format("truetype");
}

body {
  overflow-x: hidden;
}

.lecteur-topnav {
  padding: 4%;
}

#logo {
  width: 50%;
}

#logo:hover {
  cursor: pointer;
}

.btn_burger {
  width: 80%;
}

.lecteur-topnav .lecteur-menu {
  display: none;
  margin: auto;
}

.lecteur-topnav .lecteur-menu .lecteur-kind {
  text-align: center;
  width: 250px;
  margin: auto;
  padding: 2%;
}

.lecteur-topnav a {
  padding: 1%;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.lecteur-topnav a.lecteur-icon {
  display: block;
  position: absolute;
  right: 1%;
  top: 1%;
}

.lecteur-topnav .lecteur-kind:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#EBCE6E), to(#766737));
  background: linear-gradient(to bottom right, #EBCE6E, #766737);
  color: #0B1210;
}

.lecteur-kind {
  color: #C9C5C5;
}

.lecteur-none {
  display: none !important;
}

.lecteur-menu-picture {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  margin: 5% 5% 2% 5%;
}

.lecteur-menu-content {
  background: -webkit-gradient(linear, left top, right bottom, from(#23504F), to(#070908));
  background: linear-gradient(to bottom right, #23504F, #070908);
  text-align: center;
  padding-bottom: 10%;
  max-width: 95%;
}

.lecteur-menu-content h3 {
  text-transform: uppercase;
  font-family: "designer";
}

.lecteur-menu-search-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

.lecteur-menu-search-inside .search_bar {
  width: 80%;
}

.lecteur-menu-alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 350px;
  margin: auto;
}

.lecteur-closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: left;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lecteur-closebtn:hover {
  color: black;
}

.lecteur-contenu h3 {
  margin: 0;
}

.lecteur-container {
  display: inline-block;
  cursor: pointer;
}

.lecteur-icon {
  position: relative;
}

.icon-bars {
  position: absolute;
  top: 19px;
  left: 23px;
}

.lecteur-bar1, .lecteur-bar2, .lecteur-bar3 {
  width: 22px;
  height: 2px;
  background-color: #B8B391;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.lecteur-change .lecteur-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-3px, 7px);
}

.lecteur-change .lecteur-bar2 {
  opacity: 0;
}

.lecteur-change .lecteur-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -8px);
}

.lecteur-menu-search-outside {
  display: none;
}

.btn-genre {
  display: none;
}

.search-input1 {
  background-color: #0b121036;
  color: #C9C5C5;
  border: none;
  outline: none;
  position: absolute;
  top: 18px;
  font-size: 1em;
}

/*
*********************Media querie min-width 1200px!!*******************
**/
@media (min-width: 1200px) {
  .lecteur-topnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20%;
  }
  .lecteur-topnav .lecteur-menu .lecteur-kind, .lecteur-alert {
    width: 1080px;
  }
  .lecteur-topnav a.lecteur-icon {
    right: 0;
    top: 0;
  }
  .lecteur-menu-searchicon {
    padding-right: 5%;
  }
  .lecteur-menu-search-inside {
    display: none;
  }
  .lecteur-menu-search-outside {
    display: block;
  }
  .lecteur-menu-search-outside .search-bar {
    width: 100%;
  }
  .lecteur-menu-searchinput {
    display: none;
  }
  .div-btn-genre {
    margin-top: 22%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 34%;
  }
  .btn-genre {
    display: block;
    width: 100%;
  }
  .btn_burger {
    display: none;
  }
  .icon-bars {
    display: none;
  }
  .lecteur-menu-searchinput {
    width: 30%;
  }
  .search-input2 {
    background-color: #0b121036;
    color: #C9C5C5;
    border: none;
    outline: none;
    position: absolute;
    top: 11.5%;
    right: 29.5%;
    padding: 12px;
    width: 20%;
    font-size: 1.8em;
  }
}

/*
*********************Media querie min-width 1400px!!*******************
**/
@media (min-width: 1400px) {
  .lecteur-topnav a.lecteur-icon {
    right: 31px;
    top: 30px;
  }
  .search-input2 {
    top: 95px;
    right: 445px;
  }
}

/* Media Querie pour les écran de plus de 1200px */
@media (min-width: 1200px) {
  #logo {
    width: 30%;
  }
  .homepage_wave {
    display: block;
    position: absolute;
    right: -40%;
    width: 80%;
  }
  .homepage-tendances-switchon {
    max-width: 150px;
  }
  /***********************Section tendance  ***********************/
  .homepage-tendances-title h1 {
    font-size: 2em;
  }
  /***********************Section mieux noté et poulaire***********************/
  .homepage-bestnote h1, .homepage-popu h1 {
    margin-left: 3%;
    font-family: "designer";
    font-size: 2em;
    text-transform: uppercase;
  }
  /***********************cards ***********************/
  .homepage-container {
    overflow-x: hidden;
    position: relative;
  }
  .homepage-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 3%;
  }
  .homepage-cards img {
    width: 100%;
    max-width: 310px;
    min-width: 309px;
    max-height: 410px;
    width: 100%;
  }
  .homepage-theCard-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50%;
  }
  .homepage-theCard-title h2 {
    font-size: 0.9em;
    text-align: center;
  }
  /*************section genre   ***********************/
  .homepage-genre h1 {
    text-align: center;
    font-family: "designer";
    font-size: 2em;
    text-transform: uppercase;
  }
  .homepage-genre {
    overflow-x: hidden;
  }
  .homepage-genre-container {
    width: 150%;
  }
  .homepage-genre-container img {
    width: 300px;
    height: 280px;
    border-radius: 100%;
  }
  .homepage-genre-container .genre-card-filtre {
    width: 300px;
    height: 280px;
    border-radius: 100%;
  }
  .homepage-genre-container a {
    font-size: 2em;
    font-family: "designer";
    text-transform: uppercase;
    top: 40%;
  }
  /*************section actors  ***********************/
  .homepage-actors {
    overflow-x: hidden;
  }
  .homepage-actors h1 {
    text-align: center;
    font-family: "designer";
    font-size: 2em;
    text-transform: uppercase;
  }
  .homepage-actors .homepage-actor-container {
    background: none;
  }
  .homepage-actors .homepage-actor-card {
    background: -webkit-gradient(linear, left top, left bottom, from(#EBCE6E), to(#766737));
    background: linear-gradient(to bottom, #EBCE6E, #766737);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homepage-actors .homepage-actor-card img {
    margin: 10px;
  }
  .homepage-actors .homepage-actor-card a {
    margin: 10px;
  }
  footer {
    margin-bottom: 2%;
    margin-right: 1%;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    gap: 70px;
  }
  footer p {
    font-size: 1em;
  }
  footer a {
    font-size: 1em;
  }
}
/*# sourceMappingURL=homepageDesktop.css.map */