/*feuille de style pour la page Genre Mobile */
@import"_variables.scss"; 
@import "_menuBurger.scss";

body{
    margin: none;
    background-color: $black; 
    color: $white;
    font-family: 'Laila', sans-serif;
}

//section genre
.genre-section{
    overflow-x: scroll;
}

//container
.genre-container{
    display: flex;
        gap: 20px; 
        width: 100%;

        //card
        .genre-card{
            text-align: center;
        }
            //image de la card
            img {
                width: 100%;
                height: 60%;
                border-radius: 100%;
            }
            //nom du genre 
            a{
                text-decoration: none;
                display: flex; 
                justify-content: center;
                color: $white; 
            }
            //la dernière card poiur conserver l'espace 
            .genre-fantome{
                opacity: 0;
            }
}


footer{
    display: flex;
    justify-content: space-between;
    
        p{
            margin: 0;
        }
        a{
            text-decoration: none;
            color: $white;
        }
}